.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: pink;
}
.container {
  display: flex;
  min-height: 80vh;
  max-height: 80vh;
  border: 13px solid #ed72b4;
  border-top-color: whitesmoke;
  border-left-color: whitesmoke;
  border-radius: 15px;
  box-shadow: black 6px 7px 20px 0px;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  color: white;
}

.todoForm {
  display: flex;
  justify-content: space-around;
  width: 450px;
  margin-bottom:10px;
}
input{
  width: 80%;
  padding: 10px;
  border-radius: 20px;
  border: none;
}
input:focus-visible {
  outline-offset: 0px;
  outline: -webkit-focus-ring-color auto 0px;
  outline-color: greenyellow;
}
button{
  border: none;
  padding: 7px 10px;
  border-radius: 20px;
  margin: 0 5px;
  background-color: tan;
  font-weight: bolder;
}
button:hover{
  background-color: #c98f53;
  box-shadow: #c98f53 0px 0px 6px 2px;
  margin-top: 3px;
}

#Update-form input{
  border: red solid 2px;
}
#Update-form input:focus-visible {
  outline-offset: 0px;
  outline: -webkit-focus-ring-color auto 1px;
  outline-color: red;
}
#Update-form button{
  background-color: mediumseagreen;
}
#Update-form button:hover{
  background-color: #259356;
  box-shadow: #259356 0px 0px 6px 2px;
  margin-top: -1px;
  color: antiquewhite;

}

.allTodos{
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}
.singleTodo{
  border-radius: 15px;
  margin: 10px 0;
  background-color: whitesmoke;
  color: black;
  padding: 7px 7px 7px 15px;
  display: flex;
  width: 450px;
  align-items: center;
  min-height: 34px;
}
.todoText{
  flex: 1;
}